[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-email-url = "==0.0.*"
django = "==2.*"
django-cors-headers = "==2.*"
olefile = "==0.44"
pillow = "==8.*"
pytz = "*"
qrcode = "==5.*"
tqdm = "*"
prometheus-client = "*"
"html2text" = "*"
requests = "*"
systemd = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]
black = "==19.10b0"

[requires]
python_version = "3.8"
