body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root > #home {
  display: flex;
  flex-grow: 1;
}

#root > .registration-invite,
#root > .registration-invite > h1,
#root > .registration-invite > h3 {
  background-color: #272F6C;
  color: #fff;
}

#root > .registration-volontaire,
#root > .registration-volontaire > h1,
#root > .registration-volontaire > h3 {
  background-color: #61C674;
  color: #fff;
}

#root > .registration-volontaire-referent,
#root > .registration-volontaire-referent > h1,
#root > .registration-volontaire-referent > h3 {
  background-color: #1C4E29;
  color: #fff;
}

#root > .registration-village,
#root > .registration-village > h1,
#root > .registration-village > h3 {
  background-color: #19B4C8;
  color: #fff;
}

#root > .registration-so,
#root > .registration-so > h1,
#root > .registration-so > h3 {
  background-color: #D73F24;
  color: #fff;
}

#root > #scanner {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}

#root > #scanner > #preview {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}

#root > #scanner > #changeButton {
  flex: 0 0 auto;

}
