body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#root > #home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root > #registration {
  flex-grow: 1;
}

#root > .registration > h1,
#root > .registration > h2,
#root > .registration > h3,
#root > .registration > h4,
#root > .registration > h5,
#root > .registration > h6 {
  color: inherit;
}

#root > #scanner {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}

#root > #scanner > #preview {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}

#root > #scanner > #changeButton {
  flex: 0 0 auto;
}
