#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

#root > #home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#root > #registration {
  flex-grow: 1;
}

#root > .registration > h1,
#root > .registration > h2,
#root > .registration > h3,
#root > .registration > h4,
#root > .registration > h5,
#root > .registration > h6 {
  color: inherit;
}

#root > #scanner {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

#camera-container {
  width: 100%;
  flex: 1 1;
  overflow: hidden;
  display: flex;
}

#preview {
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

#preview > video {
  min-width: 100%;
  min-height: 100%;
}

#root > #scanner > #changeButton {
  flex: 0 0 auto;
}
